body,
html {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: wheat;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
}

.bg{ 
background-image: url(/assets/img/monkey-in-blue-shirt-red-blue-cap-and-glasses-listening-to-music-with-headphones-wallpaper-2800x2100_28.jpg);
  height: 100%;
  width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 2%;
  }